{% extends "base.html" %}

{% block scripts %}
<script>

$(function() {
    // Make the Accounts tab the highlighted tab
    $("li.active").removeClass("active");
    $("li#accounts-tab").addClass("active");
});

var app = angular.module("Dinheiro", ["restangular"]);

app.config(function(RestangularProvider) {
    RestangularProvider.setBaseUrl("/finance/api");
});

app.config(['$routeProvider', function($routeProvider) {
    $routeProvider.
      //when('/institutions', {templateUrl: '/static/partials/account-list.html',   controller: "InstitutionListCtrl"}).
      //when('/institutions/:id', {templateUrl: '/static/partials/account-list.html',   controller: "AccountListCtrl"}).
      when('/', {templateUrl: '/static/partials/account-list.html',   controller: "AccountListCtrl"}).
      when('/accounts/:id', {templateUrl: '/static/partials/account-detail.html', controller: "AccountDetailCtrl", reloadOnSearch: false}).
      when('/categories', {templateUrl: '/static/partials/category-list.html', controller: "CategoriesListCtrl"}).
      when('/categories/new', {templateUrl: '/static/partials/category-new.html', controller: "CategoriesEditCtrl"}).
      when('/categories/:id/edit', {templateUrl: '/static/partials/category-edit.html', controller: "CategoriesEditCtrl"}).
      when('/categories/:categoryID/rules/new', {templateUrl: '/static/partials/category-rule-edit.html', controller: "RulesEditCtrl"}).
      when('/rules/:id/edit', {templateUrl: '/static/partials/category-rule-edit.html', controller: "RulesEditCtrl"}).
      otherwise({redirectTo: '/'});
}]);

function apiErrorHandler() {
    alert("Something broke!");
}

app.factory("Model", function (Restangular) {
    return function (name) {
        return {
            "all": Restangular.all(name).getList,
            "create": Restangular.all(name).post,
            "get": function (id) {
                return Restangular.one(name, id).get();
            },
            "name": name,
            "one": function(id) {
                return Restangular.one(name, id);
            }
        };
    };
});

app.factory("Accounts", function (Model) {
    return Model("accounts")
});
app.factory("Categories", function (Model) {
    return Model("categories")
});
app.factory("Rules", function (Model) {
    return Model("rules")
});
app.factory("Transactions", function (Model) {
    return Model("transactions")
});

app.service("modelCache", function($rootScope, Accounts, Categories, Transactions) {
    var cache = {};
    var index = {};

    // It is important to push new items to our cache arrays so we don't break any bindings
    // (rather than just replacing them in the cache object)
    function addItems(model_name, items) {
        // Add them to the cache
        for (var i = 0; i < items.length; i++) {
            cache[model_name].push(items[i]);
            // Also add them to the index, just by ID for now
            index[model_name].byID[items[i].id] = items[i];
        }
    }

    function initModel(model) {
        cache[model.name] = cache[model.name] || [];
        index[model.name] = index[model.name] || { byID: {} };
    }

    // These should be automatically generated eventually
    return {
        loadModel: function(model) {
            initModel(model);
            return model.all().then(function (items) {
                cache[model.name].splice(0);
                addItems(model.name, items);
            }, apiErrorHandler);
        },
        loadCustom: function(model, items) {
            initModel(model);
            addItems(model.name, items);
            console.log(_.string.sprintf("Loaded %d items", items.length));
        },
        getCached: function(model) {
            initModel(model);
            return cache[model.name];
        },
        findByID: function(model, id) {
            return index[model.name].byID[id];
        }
    }
});

app.controller("AccountListCtrl", function ($scope, Accounts, modelCache) {
    modelCache.loadModel(Accounts);
    $scope.accounts = modelCache.getCached(Accounts);
});

app.controller("AccountDetailCtrl", function ($scope, $routeParams, $location,  $http, Restangular, Accounts, Categories, Transactions, modelCache) {
    var account_id = $routeParams.id;
    $scope.sort_field = "-date";

    $scope.accounts = modelCache.getCached(Accounts);
    //if (!$scope.accounts) {
    modelCache.loadModel(Accounts).then(function() {
        $scope.account = modelCache.findByID(Accounts, account_id);
    })
    //}

    var addTransactions = function(transactions) {
        modelCache.loadCustom(Transactions, transactions.map(function(t) {
            t.date = new Date(t.date);
            t.formatted_date = t.date.toLocaleDateString();
            var category_id = t.category;
            t.category = function() {
                var default_category = {id: 0, name: ""};

                if (!$scope.categories) {
                    return default_category;
                }

                var matches = $scope.categories.filter(function(c) {
                    return c.id == category_id;
                });

                if (matches.length == 0)
                    return default_category;

                return matches[0];
            }
            return t;
        }));
    };

    //modelCache.loadModel(Categories);
    $scope.categories = [];
    $http.get("/finance/api/categories").then(function(response) {
        $scope.categories = response.data;
        $scope.categories.unshift({id: 0, name: "(uncategorized)"});
        var categoryParam = $location.search().category;
        if (categoryParam) {
            var matches = $scope.categories.filter(function(c) {
                return c.name == categoryParam;
            });
            if (matches) {
                $scope.category = matches[0];
            }
        }
    });

    $scope.$watch('category', function(category) {
        console.log($scope.category);
        if (category) {
            $location.search({category: category.name});
        } else {
            $location.search({});
        }
    });

    // Transaction loading
    $http.get(_.string.sprintf("/finance/api/accounts/%s/transactions", account_id)).then(function(response) {
        var transactions = response.data;
        addTransactions(transactions);
    }, apiErrorHandler);
    $scope.transactions = modelCache.getCached(Transactions);

    $scope.category = null;

    // Render the transaction time-chart
    $http.get("/finance/api/stats", {account: account_id}).then(function (response) {
        var stats = response.data;
        function parseTimeSeries(data) {
            return data.map(function(point) {
                return [
                    (new Date(point.day)).getTime(),
                    parseFloat(point.total_amount)
                ];
            });
        }
        var oneDay = 24 * 3600 * 1000;
        $scope.timeChart = $("#time-chart").plot([
            /*{
                data: parseTimeSeries(stats.deposits),
                color: "rgb(30, 180, 20)"
                //threshold: { below: 0, color: "rgb(200, 20, 30)" }
            }, */{
                data: parseTimeSeries(stats.withdrawals),
                color: "rgb(200, 20, 30)"
            }
        ],
        {
            bars: {
                barWidth: oneDay * 0.6,
                show: true
            },
            xaxis: {
                mode: "time"
            }
        });
    }, apiErrorHandler);

    // Category filter function (used on transaction list/table)
    $scope.categoryFilter = function(transaction) {
        // All categories (unfiltered)
        if ($scope.category == null) {
            return true;
        // Must match selected category
        } else {
            return transaction.category().id === $scope.category.id;
        }
    }
    // Cleans off the garbage Restangular adds to our responses
    $scope.cleanResponse = function(response) {
        var result = [];
        for (var i = 0; i < response.length; i++) {
            result.push(response[i]);
        }
        return result;
    };
    // Setup click events
    // Sync: Synchronizes the account's transactions with the financial institution's data
    $scope.sync = function(account, event) {
        if (!$scope.account) return;
        // Disable the button while the sync runs
        var button = $(event.target)
        button.button("loading");
        var enableButton = function() {
            button.button("reset");
        };
        $scope.account.post("sync").then(function(update) {
            //new_transactions = $scope.cleanResponse(new_transactions);
            // This seems to be a fast way to extend the array (source: http://jsperf.com/angulararrays)
            //$scope.transactions = $scope.transactions.concat(new_transactions);
            $scope.account.balance = update.balance;
            addTransactions(update.transactions);
            enableButton();
        }, function(error) {
            enableButton();
            apiErrorHandler(error);
        });
    };
});

app.controller("CategoriesListCtrl", function ($scope, $routeParams, $http, Categories, modelCache) {
    modelCache.loadModel(Categories);
    $scope.categories = modelCache.getCached(Categories);
    $http.get("/finance/api/categories").then(function(response) {
        $scope.categories = response.data;
    });

    $scope.delete = function(category) {
        $http.delete("/finance/api/categories/" + category.id);
        $scope.categories.splice($scope.categories.indexOf(category), 1);
    };
});

app.controller("CategoriesEditCtrl", function ($scope, $routeParams, $http, Categories, modelCache) {
    //var categoriesLoaded = modelCache.loadModel(Categories);
    //$scope.categories = modelCache.getCached(Categories);

    // We're either editing an existing category
    if ($routeParams.id) {
        $http.get("/finance/api/categories/" + $routeParams.id).then(function(response) {
            $scope.category = response.data;
        });
    // or a new category
    } else {
        $scope.category = {
            name: "",
            parent: null,
            rules: []
        };
    }

    $scope.deleteRule = function(rule) {
        $http.delete("/finance/api/rules/" + rule.id);
        $scope.category.rules.splice($scope.category.rules.indexOf(rule), 1);
    }

    $scope.save = function() {
        var response;
        // Saving an existing category
        if ($scope.category.id) {
        // or a new category
        } else {
            response = $http.post("/finance/api/categories", $scope.category);
        }
        response.then(function() {
            window.history.back();
        }, apiErrorHandler);
    };
});

app.controller("RulesEditCtrl", function ($scope, $routeParams, Rules, modelCache, $http) {
    $scope.fields = [
        {name: "Date", value: "date"},
        {name: "Payee", value: "payee"},
        {name: "Type", value: "type"}
    ];
    $scope.types = [
        {name: "Contains", value: "contains"},
        {name: "Starts With", value: "startswith"},
        {name: "Ends With", value: "endswith"}
    ];

    var loadCategory = function() {
       $http.get("/finance/api/categories/" + $scope.rule.category).then(function(response) {
            $scope.category = response.data;
        });
    }

    // We're either editing an existing rule
    if ($routeParams.id) {
        $scope.title = "Edit Rule";
        $http.get("/finance/api/rules/" + $routeParams.id).then(function(response) {
            $scope.rule  = response.data;
            loadCategory();
        });
    // or a new rule
    } else if ($routeParams.categoryID) {
        $scope.title = "New Rule";
        $scope.rule = {
            category: $routeParams.categoryID,
            type: "startswith",
            field: "payee",
            content: ""
        };
        loadCategory();
    }

    $scope.save = function() {
        var response;
        // Saving an existing rule
        if ($scope.rule.id) {
            response = $http.put("/finance/api/rules/" + $scope.rule.id, $scope.rule);
        // or a new rule
        } else {
            response = $http.post("/finance/api/rules", $scope.rule);
        }
        response.then(function() {
            window.history.back();
        }, apiErrorHandler);
    };
});
</script>
{% endblock %}

{% block content %}
{% verbatim %}
    <div ng-view></div>
{% endverbatim %}
{% endblock %}
