{% extends "base.html" %}

{% block scripts %}
<script>
angular.module("Dinheiro", ["ngResource"]).
    config(['$routeProvider', function($routeProvider) {
    $routeProvider.
      when('/accounts', {templateUrl: '/static/partials/account-list.html',   controller: AccountListCtrl}).
      when('/accounts/:id', {templateUrl: '/static/partials/account-detail.html', controller: AccountDetailCtrl}).
      otherwise({redirectTo: '/accounts'});
}]);

function AccountListCtrl($scope, $http) {
    $http.get("/finance/api/accounts/?format=json").success(function(accounts) {
        $scope.accounts = accounts;
    });
}

function AccountDetailCtrl($scope, $routeParams, $resource) {
    var Account = $resource("/finance/api/accounts/:id?format=json");
    $scope.account = Account.get({id: $routeParams.id});
}
</script>
{% endblock %}

{% block content %}
{% verbatim %}
    <div ng-view></div>
{% endverbatim %}
{% endblock %}
