<div class="span12">
    <h1>Account Details</h1>
    <strong>Name:</strong> {{ account.name }}<br />
    <strong>Account Number:</strong> {{ account.censored_account_number }}<br />
</div>

<div class="span6" style="padding-top: 1em">
    <strong>Filter: </strong>
    <input ng-model="search_text" />
</div>

<div class="span12">
    <table class="table">
        <thead>
            <th>Date</th>
            <th>Payee</th>
            <th>Type</th>
            <th>Amount</th>
        </thead>
        <tr ng-repeat="t in transactions | filter:search_text">
            <td>{{ t.date }}</td>
            <td>{{ t.payee }}</td>
            <td>{{ t.type }}</td>
            <td style="text-align: right;">{{ t.amount }}</td>
        </tr>
    </table>
</div>
