<div class="span12">
    <h1>Categories</h1>
</div>

<div class="span12">
    <a class="btn btn-success" href="#/categories/new">New</a>
</div>

<div class="span12">
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Parent</th>
            <th style="width: 5em"></th>
        </thead>
        <tr ng-repeat="c in categories">
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.parent }}</td>
            <td>
                <div style="white-space: nowrap">
                    <a class="btn btn-default" href="#/categories/{{ c.id }}/edit">Edit</a>&nbsp;
                    <button type="button" class="btn btn-danger" ng-click="delete(c)">Delete</button>
                </div>
            </td>
        </tr>
    </table>
</div>
