<style>
    .transaction-list span {
        padding: 5px 10px;
    }
    .transaction-list .date,
    .transaction-list .type {
        width: 80px;
    }
    .transaction-list .category {
        width: 180px;
    }
    .transaction-list .amount {
        text-align: right;
        width: 100px;
    }
</style>

<div style="padding-top: 1em">
    <strong>Filter: </strong>
    <paper-input ng-model="search_text"></paper-input>
    <select ng-model="category" ng-options="c.name for c in categories">
        <option value="">(all)</option>
    </select>
</div>

<div id="time-chart" class="hidden-xs" style="height: 125px; width: 100%"></div>

<core-list ng-model="transactions" flex height="30" class="transaction-list">
    <template>
        <div horizontal layout>
            <span class="date hidden-xs">{{ model.formatted_date }}</span>
            <span flex>{{ model.payee }}</span>
            <span class="type hidden-xs hidden-sm">{{ model.type }}</span>
            <span class="category hidden-xs">{{ model.category.name }}</span>
            <span class="amount">{{ model.amount }}</span>
        </div>
    </template>
</core-list>
