<style>
    .transaction-list span {
    }
    .transaction-list .payee {
    }
    .transaction-list .date,
    .transaction-list .type {
        width: 80px;
    }
    .transaction-list .category {
        width: 180px;
    }
    .transaction-list .amount {
        text-align: right;
        padding-right: 14px;
        width: 100px;
    }
    .transaction-list .item {
        padding: 8px 0;
        margin-left: 4px;
        border-bottom: solid #dbdbdb 1px;
    }
    .transaction-list .divider {
        color: #777;
        padding: 14px 0 0 4px;
        text-align: left;
    }
</style>

<!--
<div style="padding-top: 1em">
    <strong>Filter: </strong>
    <paper-input ng-model="search_text"></paper-input>
    <select ng-model="category" ng-options="c.name for c in categories">
        <option value="">(all)</option>
    </select>
</div>
-->
<div id="time-chart" class="core-header" style="height: 100px"></div>

<div fit id="list_loading" center center-justified horizontal layout>
    <paper-spinner active></paper-spinner>
</div>
<core-list flex ng-model="transactions" height="30" class="transaction-list hidden" style="overflow: hidden">
    <template>
        <div divider class="divider">
            {{ groupModel.date }}
        </div>
        <div horizontal layout class="item">
            <span flex class="payee">{{ model.payee }}</span>
            <span class="type hidden-xs hidden-sm">{{ model.type }}</span>
            <span class="category hidden-xs">{{ model.category.name }}</span>
            <span class="amount">{{ model.amount }}</span>
        </div>
    </template>
</core-list>
