<!DOCTYPE html>
<html lang="en" ng-app="Dinheiro">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        {% block meta-tags %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock meta-tags %}
        <style>
            /* Ensure the body starts below the top navbar
             * (See "Fixed to top" on http://twitter.github.io/bootstrap/components.html#navbar */
            body {
                min-height: 2000px;
                padding-top: 70px;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
        {% block css %}
        {% endblock %}

        {% block script-libraries %}
        <script type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'underscore/underscore.js' %}"></script>
        <script type="text/javascript" src="{% static 'underscore.string/lib/underscore.string.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular/angular.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-resource/angular-resource.js' %}"></script>
        <script type="text/javascript" src="{% static 'restangular/dist/restangular.js' %}"></script>
        <script type="text/javascript" src="{% static 'flot/jquery.flot.js' %}"></script>
        <script type="text/javascript" src="{% static 'flot/jquery.flot.threshold.js' %}"></script>
        <script type="text/javascript" src="{% static 'flot/jquery.flot.time.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'momentjs/moment.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/knockout-2.3.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'knockout-mapping/knockout.mapping.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/pager.js' %}"></script>
        {% endblock script-libraries %}

        {% block scripts %}
        {% endblock scripts %}

        {% block extrahead %}{% endblock %}
    </head>
    <body>
        {% block navbar %}
        <div class="{% block navbar-classes %}navbar navbar-inverse navbar-fixed-top{% endblock %}">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Dinheiro</a>
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url "inst-index" %}">Home</a></li>
                    <li id="accounts-tab"><a href="{% url "accounts" %}">Accounts</a></li>
                    <li><a href="{% url "inst-search" %}">Search</a></li>
                    <li><a href="{% url "transactions-list" %}">Transactions</a></li>
                  </ul>
                    <form class="navbar-form navbar-right">
                    <div class="form-group">
                      <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                      <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </form>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        {% endblock navbar %}

        {% block container %}
        <div class="container" id="content">
            {% block content %}{% endblock %}

            <footer>{% block footer %}{% endblock %}</footer>

        </div>
        {% endblock container %}
    </body>
</html>
