<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <title>{% block title %}Dinheiro{% endblock %}</title>
        {% block meta-tags %}
        {% endblock meta-tags %}
        <style>
            /* Ensure the body starts below the top navbar
             * (See "Fixed to top" on http://twitter.github.io/bootstrap/components.html#navbar */
            body {
                /*min-height: 2000px;
                padding-top: 70px;*/
            }
            html, body {
              height: 100%;
              margin: 0;
              padding: 0
              overflow: hidden;
            }
            core-header-panel {
            }
        </style>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/toolbar.css' %}">
        {% block css %}
        {% endblock %}

        {% block script-libraries %}
        <script type="text/javascript" src="{% static 'webcomponentsjs/webcomponents.js' %}"></script>
        <link href="/static/polymer/polymer.html" rel="import">
        <link href="/static/core-drawer-panel/core-drawer-panel.html" rel="import">
        <link href="/static/core-header-panel/core-header-panel.html" rel="import">
        <link href="/static/core-icon-button/core-icon-button.html" rel="import">
        <link href="/static/core-icons/core-icons.html" rel="import">
        <link href="/static/core-item/core-item.html" rel="import">
        <link href="/static/core-list/core-list.html" rel="import">
        <link href="/static/core-media-query/core-media-query.html" rel="import">
        <link href="/static/core-menu/core-menu.html" rel="import">
        <link href="/static/core-menu/core-submenu.html" rel="import">
        <link href="/static/core-selection/core-selection.html" rel="import">
        <link href="/static/core-scroll-header-panel/core-scroll-header-panel.html" rel="import">
        <link href="/static/core-toolbar/core-toolbar.html" rel="import">
        <link href="/static/paper-button/paper-button.html" rel="import">
        <link href="/static/paper-icon-button/paper-icon-button.html" rel="import">
        <link href="/static/paper-input/paper-input.html" rel="import">
        <link href="/static/paper-item/paper-item.html" rel="import">
        <link href="/static/paper-ripple/paper-ripple.html" rel="import">
        <link href="/static/paper-shadow/paper-shadow.html" rel="import">
        <link href="/static/paper-spinner/paper-spinner.html" rel="import">
        <link href="/static/paper-tabs/paper-tabs.html" rel="import">

        <script type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'underscore/underscore.js' %}"></script>
        <script type="text/javascript" src="{% static 'underscore.string/lib/underscore.string.js' %}"></script>
        <script type="text/javascript" src="{% static 'flot/jquery.flot.js' %}"></script>
        <script type="text/javascript" src="{% static 'flot/jquery.flot.resize.js' %}"></script>
        <script type="text/javascript" src="{% static 'flot/jquery.flot.threshold.js' %}"></script>
        <script type="text/javascript" src="{% static 'flot/jquery.flot.time.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'momentjs/moment.js' %}"></script>

        {% endblock script-libraries %}

        {% block scripts %}
        {% endblock scripts %}

        {% block extrahead %}{% endblock %}
    </head>
    <body fullbleed layout unresolved>
        {% block content %}{% endblock %}
        {% block footer-scripts %}{% endblock %}
    </body>
</html>
